#BLOCK RESETPATHS;
#BLOCK ASYNCPATHS;
#FREQUENCY NET "half_clk_c" 125.000000 MHz ;
#FREQUENCY NET "full_clk_c" 250.000000 MHz ;
FREQUENCY NET "slow_clkgen" 125.00MHz ;
#FREQUENCY NET "mgt0/tx_half_clk_ch3" 125.0 MHz ;
LOCATE COMP "mgt0/pcsd_inst" SITE "PCSA" ;

IOBUF PORT "rst_n" SITE="A21" IO_TYPE=LVCMOS33 DIFFRESISTOR=OFF ;
IOBUF PORT "led0" SITE="U19" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led1" SITE="U18" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led2" SITE="AA21" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led4" SITE="W19" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dip0" SITE="J7" IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip1" SITE="J6" IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip2" SITE="H2" IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip3" SITE="H3" IO_TYPE=LVCMOS15 ;
IOBUF PORT "dip4" SITE="J3" IO_TYPE=LVCMOS15 ;
FREQUENCY NET "clk100_p_c" 100.000000 MHz ;
IOBUF PORT "clk100_p" SITE="L5" IO_TYPE=SSTL15D  PULLMODE=NONE DIFFRESISTOR=OFF;
IOBUF PORT "X4_IO1" SITE="B12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "X4_IO3" SITE="A13" IO_TYPE=LVCMOS33 ;
